body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.page-nav {
}
.header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
}
.header-logo-part {
  font-style: italic;
}
.nav-list {
}
.nav-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #111;
}
